 .header-container {
    color: blue;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15px;
    font-size: 2em;
  }
 header {
   text-align: right;
 }
  @media (min-width: 600px) {
    header {
      width: 63%;
      align-items: flex-end;
      margin-left: auto; 
      text-align: left;
    }
  }  

