.open-note {
    color: grey;
    display: block;
}
.open-note2 {
    color:blue;
}
.openNote {
    display: flex;
    margin-bottom: 0;
}
.date {
    color: black;
}

.content-container {
    display: block;
    background-color: lightgray;
    padding: 30px;
    padding-bottom: 100px;
}
